######
# Directories
######

######
# Files
######
tags
COPYING
INSTALL
**/Makefile.in
**/aclocal.m4
**/autom4te.cache/
**/compile
**/config.guess
**/config.sub
**/configure
**/configure~
**/install-sh
**/ltmain.sh
**/missing
